{% extends "impacts/base.html" %}
{% load static %}

{% block content %}

<title>Home</title>

  <div class="row header">
    <div class="text-center col-sm-12">
      <h1 style="font-size:50px; font-weight:bold;">Home</h1>
    </div>
  </div>

  <div style="padding-left:10px;" class="row">
    <div class="col-sm-12">
      <h2><b>Select A Pledge</b></h2>
      <h3><a href="{% url 'impacts:bills' %}">Clean Your Bills</a></h3>
      <h3><a href="{% url 'impacts:veg' %}">Veg Out</a></h3>
    </div>
  </div>

  <div style="padding-left:10px;" class="row">
    <div class="col-sm-12 ">
      
      <h2><b>List Of Pledges</b></h2>

      {% for bill in bills %}
        <p><b>Name: </b>{{ bill.name }}</p>
        <p><b>Pledge: </b>Switched from {{ bill.energy_supplier }}. Impact Made = {{ bill.impact }}</p>
        <p><b>Message: </b>{{ bill.message}}</p>
        <hr/>
      {% endfor %}

      {% for veg in vegs %}
        <p><b>Name: </b>{{ veg.name }}</p>
        <p><b>Pledge: </b>Switched from {{ veg.current_meals }} meaty meals to {{ veg.veggie_meals }} veg meals. Impacts Made => CO2 impact = {{ veg.co_impact }},
             Water impact = {{ veg.water_impact }}, Waste impact = {{ veg.waste_impact }}</p>
        <p><b>Message: </b>{{ veg.message}}</p>
        <hr/>
      {% endfor %}

    </div>
  </div>

{% endblock %}
