{% extends "impacts/base.html" %}
{% load static %}

{% block content %}

<title>Veg</title>

  <div class="row header">
    <div class="col-sm-2" style="padding:10px">
      <img src="{% static 'img/vegan.png' %}" class="col-sm-12" alt="Vegan Image">
    </div>
    
    <div class=" col-sm-10 text-left">
      <h1 style="font-size:50px; font-weight:bold;">Veg Out</h1>
      <p style="font-size:20px;">Switch to Veggie Meals to create an impact on C02, Water and Waste Savings.</p>
      <p style="font-size:20px;">We'll send you more info and advice - including some of our top recommendations - once you've pledged.</p>
      <a style="color:white; font-size:20px; text-decoration:underline;" href="{% url 'impacts:home' %}">More info / advice</a>
    </div>
  </div>

  <form action="{% url 'impacts:veg' %}" method="get">

    {%  csrf_token %}
    <div style="padding:25px;" class="row">
      <div class="col-sm-12 col-md-8">

        <label for="your_name">Name: </label>
        <input id="your_name" type="text" name="name" required>
        
        <p>At the moment, I munch on 
          <input style="height:30px" type="number" name="current" min="1" required> meaty meals each week. For the next two months, I pledge to go veg for
          <select style="padding:10px;" class="form-select rounded" aria-label="Default select example" name="veggie">
            <option selected>0-5</option>
            <option value="6">6</option>
          </select> extra meals each week.
        </p>
        
        <p><b>Message:</b><br>Anything to say about your pledge? This will be publicly visible. <span style="float: right;">Characters left: <span id="rchars">255</span></span></p>


        <textarea name="message" class="form-control" type="text" id="textarea" value="" maxlength="255" required></textarea>
        <button class="btn btn-secondary" type="submit"><i class="fas fa-search"aria-hidden="true"></i>Pledge</button>

        <p style="padding-top: 10px;">Pledging for a specific friend or organisation? <a href"{% url 'impacts:home' %}">Find them first</a></p>
  </form>
    </div>

    <div style="border:1px solid black; height:auto;" class="col-sm-12 col-md-4 ">
      <h3 class="text-center"><b>Impacts</b></h3>
      <p>Saves</p>
      <p style="font-size:20px;" class="text-center"><b style="color:#FF8C00;" >{{ co_impact }}kg</b> of CO2</p>
      <p style="font-size:20px;" class="text-center"><b style="color:#FF8C00;" >{{ water_impact }}litre</b> of Water</p>
      <p style="font-size:20px;" class="text-center"><b style="color:#FF8C00;" >{{ waste_impact }}kg</b> of Waste</p>
      <p>Other impacts</p>
      <p style="font-size:20px;" class="text-center"><i class="fas fa-camera"></i>Pollution</p>
    </div>

  </div>

  <!-- To keep track of characters in message textarea -->
  <script>
    var maxLength = 255;
    $('textarea').keyup(function() {
      var textlen = maxLength - $(this).val().length;
      $('#rchars').text(textlen);
    });
  </script>


{% endblock %}
